config:
  core.https_address: {{ ansible_default_ipv4.address }}:8443
  core.trust_password: {{ cluster_password }}
storage_pools:
- name: default
  driver: dir
networks:
- name: lxdbr0
  type: bridge
  config:
    ipv4.address: {{ ansible_default_ipv4.address }}/24
    ipv6.address: none
profiles:
- name: default
  devices:
    root:
      path: /
      pool: default
      type: disk
    eth0:
      name: eth0
      nictype: bridged
      parent: lxdbr0
      type: nic
cluster:
  server_name: {{ inventory_hostname }}
  enabled: true
{% if lxd_cluster_role == "client" %}
  server_address: {{ ansible_default_ipv4.address }}:8443
  cluster_address: {{ cluster_address }}:8443
  cluster_certificate: |
    {{ "\n    ".join(cluster_certificate[:-1].split('\n')) }}
  cluster_password: {{ cluster_password }}
  member_config:
  - entity: storage-pool
    name: default
    key: source
    value: ""
{% endif %}
